@keyframes pulsating_alarm {
  0% {
	background: rgba(50, 0, 0, 0);
  }

  25% {
	background: rgba(200, 0, 20, 0.25);
  }

  50% {
	background: rgba(200, 0, 20, 1);
  }

  75% {
	background: rgba(200, 0, 20, 0.25);
  }

  100% {
	background: rgba(50, 0, 0, 0);
  }
}

.pulsating_alarm {
  animation: pulsating_alarm 2s linear infinite;
}

@keyframes wobbling_left {
  0% {
	transform: rotate(-14deg);
  }
  50% {
	transform: rotate(-18deg);
  }
  100% {
	transform: rotate(-14deg);
  }
}

.wobbling_left {
  animation: wobbling_left 9s linear infinite;
}

@keyframes wobbling_right {
  0% {
	transform: rotate(14deg);
  }
  50% {
	transform: rotate(18deg);
  }
  100% {
	transform: rotate(14deg);
  }
}

.wobbling_right {
  animation: wobbling_right 11s linear infinite;
}

@keyframes wobbling_center_0 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(-1deg);
  }
  75% {
	transform: rotate(1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_0 {
  animation: wobbling_center_0 120s linear infinite;
}

@keyframes wobbling_center_1 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(-3deg);
  }
  75% {
	transform: rotate(3deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_1 {
  animation: wobbling_center_1 65s linear infinite;
}

@keyframes wobbling_center_2 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(3deg);
  }
  75% {
	transform: rotate(-3deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_2 {
  animation: wobbling_center_2 60s linear infinite;
}

@keyframes wobbling_center_3 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(1deg);
  }
  75% {
	transform: rotate(-1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_3 {
  animation: wobbling_center_3 70s linear infinite;
}

@keyframes wobbling_center_4 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(1deg);
  }
  75% {
	transform: rotate(-1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_4 {
  animation: wobbling_center_4 75s linear infinite;
}

@keyframes wobbling_center_5 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(-1deg);
  }
  75% {
	transform: rotate(1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_5 {
  animation: wobbling_center_5 80s linear infinite;
}

@keyframes wobbling_center_6 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(-1deg);
  }
  75% {
	transform: rotate(1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_6 {
  animation: wobbling_center_6 85s linear infinite;
}

@keyframes wobbling_center_7 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(1deg);
  }
  75% {
	transform: rotate(-1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_7 {
  animation: wobbling_center_7 90s linear infinite;
}

@keyframes wobbling_center_8 {
  0% {
	transform: rotate(0deg);
  }
  25% {
	transform: rotate(1deg);
  }
  75% {
	transform: rotate(-1deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

.wobbling_center_8 {
  animation: wobbling_center_8 95s linear infinite;
}
