body {
	font-family: "Calibri";
	overflow: hidden;
	background: linear-gradient(179deg, #102, #201, #102, #201, #102, #201, #102, #201, #102);
	padding-left: 212pt;
	padding-right: 60pt;
}

body.dirty {
	background: linear-gradient(179deg, #102, #ACF, #102, #201, #FFA, #AFF, #102, #201, #FBF);
}

a {
	color: #88AAFF;
	text-decoration: none;
}

body > div, div#mainContent > div {
	color: #88AAFF;
	padding-bottom: 10pt;
}

input, textarea, select {
	color: #AACCFF;
	background: rgb(24, 0, 27);
	border: 1px solid rgb(80, 60, 160);
	border-radius: 4pt;
	padding: 0pt 4pt 1pt 4pt;
	font-family: "Calibri";
	font-size: 1em;
}

div#mainContent {
	overflow-y: scroll;
	overflow-x: hidden;
}

div#tabList {
	overflow: hidden;
}

div#tabList, div#mainContent {
	scrollbar-color: #402 #102;
	position: relative;
}

div#tabList > div, div#tabList > a {
	margin-right: 8pt;
	display: block;
	text-decoration: none;
	color: #88AAFF;
	border-radius: 6pt;
}

div#tabList > a:hover {
	background: rgba(255, 0, 255, 0.1);
}

div#buttonBar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

div.buttonBar {
	text-align: center;
}

span.button {
	color: #AACCFF;
	padding: 0pt 4pt;
	border-radius: 5pt;
	background: rgba(150, 200, 250, 0.2);
	cursor: pointer;
	text-align: center;
}

span.button.bigger {
	font-size: 110%;
}

span.button.highviz {
	background: rgba(0, 20, 50, 0.8);
}

div.buttonBar > span.button {
	padding: 2pt 10pt;
	border-radius: 5pt;
	margin: 0pt 10pt;
}

span.button:hover {
	background: rgba(150, 200, 250, 0.5);
}

span.button.unchecked {
	background: none;
	border: 1px solid rgba(150, 200, 250, 0.5);
}

span.button.checked {
	background: rgba(150, 200, 250, 0.6);
}

div.verticalButtonBar > span.button {
	display: block;
}

div.weekly_day {
	width: 14.2%;
	display: inline-block;
	border-left: 1px solid rgb(150, 200, 250);
	border-right: 1px solid rgb(150, 200, 250);
	vertical-align: top;
	padding: 3pt;
	box-sizing: border-box;
}

div.weekly_day.today {
	background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

div.separator_top {
	border-bottom: 1px solid rgb(150, 200, 255);
	height: 5pt;
}

div.separator_bottom {
	height: 3pt;
}

div.modal {
	display: none;
	position: absolute;
	top: 100pt;
	left: 100pt;
	right: 100pt;
	border-radius: 16pt;
	background: linear-gradient(15deg, rgb(60, 20, 50), rgb(40, 0, 80), rgb(60, 20, 50));
	padding: 15pt;
	opacity: 0.95;
}

div.modal textarea {
	width: 100%;
	box-sizing: border-box;
}

div.modal > div.column {
	width: 18%;
	display: inline-block;
}

div.line:hover {
	background: rgba(255, 0, 255, 0.19);
	border-radius: 4pt;
}

div.line > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

img.avatar, div#tabList {
	position: absolute;
	left: 10pt;
	width: 200pt;
}

img.avatar {
	top: 10pt;
	border-radius: 20pt;
}

a.sidebar, div.projectbar {
	position: absolute;
	right: 10pt;
	width: 50pt;
}

a.sidebar {
	top: 10pt;
}

a.sidebar > img.avatar {
	position: relative;
	width: 100%;
	border-radius: 5pt;
	left: 0;
	top: 0;
}

div.footer {
	height: 200pt;
}

div.details > a {
	color: #AACCFF;
	text-decoration: underline;
}

div.details > a:hover {
	color: #CCEEFF;
}

div.projectbar {
	bottom: 10pt;
}

div.projectbar > a {
	border: 3pt solid black;
	border-radius: 5pt;
	text-align: center;
	height: 30pt;
	display: inline-block;
	text-decoration: none;
}

div.datepicker td, div.datepicker tr {
	text-align: center;
}

span.vertAligner {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

span.sup {
	font-size: 80%;
	vertical-align: top;
}

span.awesome {
	color: #20CC00;
}

span.warning {
	color: #D4B430;
}

span.error {
	color: #FF4020;
}

div.projectbar > a, div.projectbar > a > img {
	width: 100%;
}

div.projectbar > a {
	margin-top: 5pt;
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
}

div.projectbar > a:hover {
	background: rgba(255, 255, 255, 1);
}

div.projectbar > a > img {
	max-height: 80%;
	max-width: 80%;
	vertical-align: middle;
}

div.company_outer {
	border-radius: 10pt;
	background: rgba(255, 255, 255, 0.1);
	padding: 10pt;
	margin: 10pt 20pt 15pt 8pt;
	text-align: center;
	position: relative;
}

div.company_outer > img.logo {
	width: 100pt;
	position: absolute;
	top: 44pt;
	right: -43pt;
	transform: rotate(90deg);
	background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(205, 225, 255, 0.8), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0));
	border-radius: 10pt;
	padding: 10pt 20pt;
}

div.machine_outer {
	border-radius: 10pt;
	background: rgba(155, 215, 255, 0.6);
	width: 150pt;
	height: 100pt;
	text-align: center;
	padding: 10pt 5pt 5pt 5pt;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20pt;
}

div.machine_inner {
	border-radius: 10pt;
	background: rgba(0, 0, 10, 0.88);
	width: 100%;
	height: 90pt;
	padding: 10pt 0pt 0pt 0pt;
}
