body {
	font-family: "Calibri";
	overflow: hidden;
	background: linear-gradient(179deg, #102, #201, #102, #201, #102, #201, #102, #201, #102);
	padding-left: 212pt;
	padding-right: 60pt;
}

body > div, div#mainContent > div {
	padding-bottom: 10pt;
	color: #88AAFF;
}

div#mainContent {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #402 #102;
}

img.avatar {
	position: absolute;
	left: 10pt;
	top: 10pt;
	width: 200pt;
	border-radius: 20pt;
}

a.sidebar, div.projectbar {
	position: absolute;
	right: 10pt;
	width: 50pt;
}

a.sidebar {
	top: 10pt;
}

a.sidebar > img.avatar {
	position: relative;
	width: 100%;
	border-radius: 5pt;
	left: 0;
	top: 0;
}

div.footer {
	height: 200pt;
}

div.projectbar {
	bottom: 10pt;
}

div.projectbar > a {
	border: 3pt solid black;
	border-radius: 5pt;
	text-align: center;
	height: 30pt;
	display: inline-block;
	text-decoration: none;
}

span.vertAligner {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

span.awesome {
	color: #20CC00;
}

span.warning {
	color: #D4B430;
}

span.error {
	color: #FF4020;
}

div.projectbar > a, div.projectbar > a > img {
	width: 100%;
}

div.projectbar > a {
	margin-top: 5pt;
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));;
}

div.projectbar > a:hover {
	background: rgba(255, 255, 255, 1);
}

div.projectbar > a > img {
	max-height: 80%;
	max-width: 80%;
	vertical-align: middle;
}
